@import "fonts.css";

/* ROOT START */
:root {
    --fBase: "MS";
    --fAlt: "PS";
    --grey: #282929;
    --dark: #1f2020;
    --yellow: #ffcb02;
    --yellowDark: #d2a90b;
}










/* ROOT END */
/* ================================================= */
/* HEADER START */














/* HEADER END */
/* ================================================= */
/* MAIN START */










/* MAIN END */
/* ================================================= */
/* FOOTER START */














/* FOOTER END */